.place__like{
    background-color: transparent;
    outline: none;
    border: none;
    background-image: url('../../../images/svg_icons/heart2.svg');
    min-width: 22px;
    height: 19px;
    background-position: center;
    background-size: cover;
}

.place__like:hover{
    opacity: .5;
    cursor: pointer;
}

