.place{
    list-style-type: none;
    margin: 3px 0 0 0;
    padding: 0;
    max-width: 282px;
    width: 282px;
    height: 361px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}