.page{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    padding: 0 200px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    background-color: #000000;
    color: white;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px){
    .page{
        max-width: 890px;
        padding: 0 48px;
    }
}

@media screen and (max-width: 549px){
    .page{
        padding: 0;
    }
}