
.popup__translucent-close{
    width: 505px;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (max-width: 631px) {
    .popup__translucent-close{
        width: 282px;
        height: 382px;
    }
}