
.profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    box-sizing: border-box;
}

@media screen and (max-width: 756px){
    .profile{
        flex-wrap: wrap;
        gap: 15px;
    }
}

/* @media screen and (max-width: 578px){
    .profile{
        gap: 12px;
    }
} */

@media screen and (max-width: 549px){
    .profile{
        gap: 0;
        flex-direction: column;
        justify-content: center;
        padding: 0 19px 0 19px;
    }
}