.popup__button{
    min-width: 358px;
    width: 100%;
    background: #000000;
    border-radius: 2px;
    min-height: 50px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 18px;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
}

.popup__button:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 631px) {
    .popup__button{
        font-size: 14px;
        line-height: 17px;
        max-width: 238px;
        min-width: 0;
    }
}