
.profile__status{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

@media screen and (max-width: 549px){
    .profile__status{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-right: 2px;
    }
}