.profile__pen{
    background-image: url('../../../images/svg_icons/pen1.svg');
    width: 10px;
    height: 10px;
    background-position: center;
    background-size: cover;
}

.profile__pen:hover{
    cursor: pointer;
}

@media screen and (max-width: 631px) {
    .profile__pen{
        min-width: 8px;
        min-height: 8px;
    }
}