.place__delete{
    background-color: transparent;
    outline: none;
    border: none;
    background-image: url('../../../images/svg_icons/recycle_bin.svg');
    min-width: 19px;
    height: 19px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px;
}

.place__delete:hover{
    opacity: .5;
    cursor: pointer;
}