.popup__container_place{
    max-width: 75vw;
    /* max-height: 75vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
