.profile__changer{
    min-width: 24px;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    background-color: transparent;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid white;
}

.profile__changer:hover{
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 549px) {
    .profile__changer{
        min-width: 18px;
        min-height: 18px;
        margin-top: 3px;
    }
}