.profile__name{
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    padding-right: 18px;
    text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}

@media screen and (max-width: 549px){
    .profile__name{
        padding-right: 10px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}