.profile__avatar{
    border-radius: 100%;
    width: 120px;
    height: 120px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 50% 50%;
}

@media screen and (max-width: 756px){
    .profile__avatar{
        margin-right: 18px;
    }
}

@media screen and (max-width: 549px){
    .profile__avatar{
        margin-bottom: 26px;
        margin-right: 0;
    }
}