
.profile__new-post-add{
    background-color: transparent;
    outline: none;
    min-width: 150px;
    min-height: 50px;
    border: 2px solid white;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.profile__new-post-add:hover{
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 756px){
    .profile__new-post-add{
        margin-left: 0;
        width: 100%;
        margin-top: 36px;
    }
}

