.popup__container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 34px 36px 36px 36px;
    justify-content: space-between;
    position: relative;
    max-width: 430px;
    box-sizing: border-box;
}

@media screen and (max-width: 631px) {
    .popup__container{
        padding: 25px 22px;
        min-width: 282px;
        max-width: 282px;
    }
}