@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

@import url('../blocks/popup/__button/popup__button.css');
@import url('../blocks/content/content.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/header/header.css');
@import url('../blocks/html/html.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/logo/__image/logo__image.css');
@import url('../blocks/page/page.css');
@import url('../blocks/place/place.css');
@import url('../blocks/place/__info/place__info.css');
@import url('../blocks/place/__like/place__like.css');
@import url('../blocks/place/__name/place__name.css');
@import url('../blocks/place/__photo/place__photo.css');
@import url('../blocks/places/places.css');
@import url('../blocks/places/__list/places__list.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/__close/popup___close.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__header/popup__header.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__inputs/popup__inputs.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__add/profile__add.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__changer/profile__changer.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__plus/profile__plus.css');
@import url('../blocks/profile/__status/profile__status.css');
@import url('../blocks/profile/__top-row/profile__top-row.css');
@import url('../blocks/profile/__pen/profile__pen.css');
@import url('../blocks/place/__like/_active/place__like_active.css');
@import url('../blocks/popup/_type/popup_type_place.css');
@import url('../blocks/popup/__container/_place/popup__container_place.css');
@import url('../blocks/popup/__photo/popup__photo.css');
@import url('../blocks/popup/__description/popup__description.css');
@import url('../blocks/place/__delete/place__delete.css');
@import url('../blocks/place/__photo/place__photo.css');