.profile__info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;
    flex-wrap: nowrap;
}

@media screen and (max-width: 549px){
    .profile__info{
        align-content: center;
        align-items: center;
        gap: 14px;
    }
}