.popup__input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #ffffff;
    outline: none;
    width: 100%;
    padding: 0 0 12px 0;
    box-sizing: border-box;
}

.popup__input:focus{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.popup__input:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.popup__input::placeholder {
    color: #C4C4C4;
}